.users-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;

  & h2 {
    margin: 0;
    font-size: 4em;
    font-weight: 400;
    line-height: 1;
    text-align: center;
  }

  @media screen and (max-width: 1169px) {
    padding-inline: 6em;
  }
  @media screen and (max-width: 1023px) {
    padding-inline: 3.2em;
  }
  @media screen and (max-width: 767px) {
    padding-inline: 1.6em;
  }
}

.users-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.9em;

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6em;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}
