:root {
  font-family: 'Inter', sans-serif;
  font-family: 'Nunito', sans-serif;
  line-height: 1.625;
  font-weight: 400;

  color: #000000de;
  background-color: #f8f8f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-clr: #f8f8f8;
  --black-clr: #000000de;
  --white-clr: #fff;
  --error-clr: #cb3d40;
  --primary-clr: #f4e041;
  --primary-bright-clr: #ffe302;
  --secondary-clr: #00bdd3;
  --gray-light-clr: #ffffffde;
  --gray-medium-clr: #d0cfcf;
  --gray-dark-clr: #b4b4b4;

  --main-transition: all ease-in 150ms;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 0.625rem;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

button {
  font-size: 1em;
  line-height: 1.625;
  cursor: pointer;
}
